:root {
    color-scheme: dark;
}

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a1e25;
    color: #abb2bf;
    font: 16px 'Consolas', monospace;
    display: flex;
    flex-flow: row wrap;
}

#log {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 16px;
    column-gap: 16px;
    row-gap: 8px;
    align-items: start;
    overflow-wrap: anywhere;
    overflow-y: auto;
    height: min-content;
    max-height: 100vh;
    min-width: 65vw;
    flex: 1;
}

#log>div {
    display: contents;
}

.server {
    color: #bb86fc;
}

.client {
    color: #03dac6;
}

.uuid {
    color: white;
    border-radius: 3px;
    padding: 1px 3px;
}

#side-panel {
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    row-gap: 40px;
}

#send-data {
    padding: 20px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    background: forestgreen;
}

#send-data.off {
    background: crimson;
}

label {
    display: block;
    padding-bottom: 8px;
}

#client-slowdown {
    background: transparent;
    color: inherit;
    font: inherit;
    border: 1px solid gray;
    padding: 8px;
}

@keyframes flash {
    from {
        background: rgba(200, 200, 200, 0.2);
    }
    to {
        background: transparent;
    }
}

#log>div>* {
    padding: 3px 5px;
    border-radius: 3px;
    animation: flash 2s ease-out;
}