<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ uuid }} - CSE 453</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/lib/socket.io.min.js"></script>
    <script src="static/lib/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.21.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.20.2"></script>
</head>

<body>
    <div id="log"></div>
    <div id="side-panel">
        <button id='send-data'>Start auto training</button>
        <div id='time-accuracy'></div>
    </div>
    <script>
        const UUID = '{{ uuid }}'; // replaced by server
    </script>
    <script src="static/lib/loadmnistdata.js"></script>
    <script src="static/graphing.js"></script>
    <script src="static/model.js"></script>
    <script src="static/main.js"></script>
</body>

</html>